@font-face {
    font-family: "icomoon";
    src: url("./fonts/icomoon.eot");
    src: url("./fonts/icomoon.eot?cf9qnt#iefix") format("embedded-opentype"),
        url("./fonts/icomoon.ttf?cf9qnt") format("truetype"),
        url("./fonts/icomoon.woff?cf9qnt") format("woff"),
        url("./fonts/icomoon.svg?cf9qnt#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
}

.icon-location:before {
    content: "\e947";
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-bookmark:before {
    content: "\e9d2";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-heart:before {
    content: "\e9da";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-circle-right:before {
    content: "\ea42";
}

.icon-circle-down:before {
    content: "\ea43";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-twitter:before {
    content: "\ea96";
}

/***********************/
/***     GENERAL     ***/
/***********************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --red: #ff3333;
    --lightred: #ff9999;
    --brown: #833400;
    --lightbrown: #c19a80;
    --beige: #fffce5;
    --white: #ffffff;
}

/**********************/
/***     HEADER     ***/
/**********************/

#header {
    width: 100%;
}

#banner-background {
    background-image: linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, var(--red) 50%);
    height: 200px;
    position: relative;
}

#header-cover-figure {
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: -1;
}

#header-cover-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 400px -500px;
    right: 0;
}

#banner-text {
    top: 50px;
    left: 275px;
    color: var(--beige);
    position: absolute;
}

#banner-text h1 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4em;
    height: 70px;
}

#banner-text h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-left: 1em;
}

#header-logo-figure {
    width: 125px;
    position: absolute;
    top: 15px;
    left: 150px;
}

/********NAVIGATION*********/

#main-navigation-section {
    position: relative;
    display: flex;
    top: -30px;
    background-color: var(--white);
    max-width: 40vw;
    justify-content: center;
    margin: auto;
    height: 55px;
    align-items: center;
}

#main-navigation-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#main-navigation-section a {
    height: 35px;
    font-family: 'Fugaz One', cursive;
    font-weight: 100;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    color: var(--brown);
    text-decoration: none;
    padding: 0px 0px;
    margin: 0px 60px;
    align-items: center;
    border-top: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
}

#main-navigation-section a:hover {
    color: var(--lightred);
    border-top: 4px solid var(--lightred);
    border-bottom: 4px solid var(--lightred);
}

#main-navigation-section a:active,
#main-navigation-section a:focus {
    color: var(--red);
    border-top: 4px solid var(--red);
    border-bottom: 4px solid var(--red);
}

/********************/
/***     MAIN     ***/
/********************/

main {
    width: 85%;
    margin: auto;
}

/***TOP SEARCH SECTION***/

#top-search-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
}

#search-location-form,
#order-by-form {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-by-form {
    width: 20%;
}

#search-location-input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-left: 20px;
    width: 75%;
    color: var(--red);
    height: 40px;
    border: 1px solid var(--red);
}

#search-location-input::placeholder {
    color: var(--lightred);
    font-weight: 200;
}

#submit-location-button {
    font-family: 'Lato', sans-serif;
    height: 40px;
    width: 20%;
    font-size: 1.25em;
    color: var(--beige);
    background-color: var(--red);
    border: none;
    font-weight: 800;
    cursor: pointer;
}

#order-by-label {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: var(--red);
    font-weight: 400;
    width: 25%;
}

#order-by-input {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: var(--beige);
    background-color: var(--red);
    font-weight: 800;
    padding: 5px 10px;
    height: 40px;
    width: 65%;
    cursor: pointer;
}

/***FILTER SECTION***/

#filter-and-datalist {
    display: flex;
    margin-top: 25px;
}

#filter-form-section {
    width: 15%;
}

#filter-options-form {
    margin-top: 25px;
}

#filter-type-form-title,
#filter-options-form-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 15px;
}

.filter-option,
.options-option {
    color: var(--brown);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-left: 7%;
    align-items: center;
}

.filter-label-container {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--white);
    border: 1px solid var(--red);
}

.filter-label-container:hover input~.checkmark {
    background-color: var(--lightred);
}

.filter-label-container input:checked~.checkmark {
    background-color: var(--red);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-label-container input:checked~.checkmark:after {
    display: block;
}

.filter-label-container .checkmark:after {
    left: 4px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid var(--beige);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Source for custom checkboxes: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

/***KAPSALON DATALIST***/

#kapsalon-datalist {
    width: 70%;
}

.datalist-kapsalon-article {
    display: flex;
    height: 75px;
    /* background-color: lightblue; */
    box-shadow: 2px 2px 4px rgb(199, 199, 199);
    margin-bottom: 15px;
    cursor: pointer;
}

.kapsalon-article-a {
    text-decoration: none;
}

.kapsalon-article-figure {
    width: 15%;
}

.kapsalon-article-img {
    width: 100%;
    height: 75px;
    object-fit: cover;
    object-position: center;
}

.kapsalon-article-info {
    width: 50%;
    padding-left: 20px;
}

.kapsalon-article-title {
    margin-top: 5px;
    color: var(--brown);
    font-weight: 800;
    font-size: 1.25em;
}

.kapsalon-article-restaurant {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.edit-location-icon {
    color: var(--red);
    font-size: 1.25em;
    font-weight: 800;
    padding-right: 5px;
}

.kapsalon-article-restaurant-name {
    color: var(--brown);
    font-weight: 600;
    padding-right: 10px;
}

.kapsalon-article-restaurant-distance {
    color: var(--red);
}

.kapsalon-article-moreinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 35%;
    text-align: right;
}

.kapsalon-article-rating {
    display: flex;
    justify-content: flex-end;
}

.kapsalon-article-rating-number {
    padding-right: 15px;
    color: var(--brown);
    font-weight: 800;
    font-size: 1.1em;
}

.edit-star-icon {
    color: var(--red);
    padding-left: 5px;
    font-size: 1.1em;
}

.kapsalon-article-price {
    margin-top: 5px;
    color: var(--brown);
    font-weight: 800;
    font-size: 1.2em;
}

/**********************************/
/***     MORE INFO KAPSALON     ***/
/**********************************/

.go-back-button {
    text-align: center;
    width: 75px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.edit-arrow-left {
    width: 75px;
    background-color: var(--red);
    color: var(--beige);
    padding: 0px 40px;
    font-size: 2.5em;
}

/***     INFO SECTION     ***/

#kapsalon-info-section {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 25px;
}

.kapsalon-info-figure {
    width: 300px;
    height: 300px;
}

.kapsalon-info-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

#kapsalon-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-left: 25px;
}

#kapsalon-info-header {
    display: flex;
    justify-content: space-between;
}

#kapsalon-info-header-title {
    color: var(--brown);
    font-size: 1.75em;
    font-weight: 800;
}

#kapsalon-info-header-restaurant {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#info-header-restaurant-name {
    color: var(--brown);
    padding-right: 25px;
    font-size: 1.2em;
}

#info-header-restaurant-distance {
    color: var(--red);
    font-size: 1.2em;
}


#kapsalon-info-header-rating {
    display: flex;
    margin-top: 7px;
    font-size: 1.2em;
}

#kapsalon-info-scores-title {
    color: var(--red);
    font-size: 1.3em;
    font-weight: 800;
    margin-bottom: 10px;
}

#info-scores-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#info-scores-toppic div {
    color: var(--brown);
    text-align: right;
    font-weight: 700;
    margin-bottom: 5px;
}

#info-scores-number div {
    color: var(--red);
    font-weight: 700;
    margin-bottom: 5px;
}

#info-scores-stars div {
    margin-bottom: 5px;
}

#kapsalon-info-order {
    display: flex;
    align-items: center;
}

#kapsalon-info-order a {
    text-decoration: none;
    width: 75px;
    background-color: var(--red);
    color: var(--beige);
    padding: 5px 50px;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
}

#kapsalon-info-order div {
    font-size: 1.5em;
    margin-left: 25px;
    color: var(--brown);
    font-weight: 800;
}

/***     OTHER MEALS     ***/

#other-meals-section {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-top: 50px;
}

#map {
    width: 300px;
    height: 300px;
}

#other-meals-container {
    padding-left: 25px;
    width: 100%;
}

#other-meals-title {
    color: var(--red);
    font-size: 1.4em;
    font-weight: 800;
}

#other-meals-datalist {
    margin-top: 25px;
}

/********************************/
/***     INSERT CODE PAGE     ***/
/********************************/

#insert-code-container {
    width: 100%;
    text-align: center;
    position: relative;
    top: -75px;
}

#insert-code-title {
    color: var(--brown);
    font-size: 1.5em;
}

#insert-code-form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 25px;
}

#insert-code-input {
    width: 75%;
    border: 1px solid var(--brown);
    height: 40px;
    font-weight: 400;
    font-size: 1.25em;
    padding-left: 20px;
    color: var(--brown);
}

#insert-code-button {
    width: 20%;
    background-color: var(--red);
    border: none;
    color: var(--beige);
    font-size: 1.25em;
    font-weight: 800;
    cursor: pointer;
}

#insert-code-input::placeholder {
    color: var(--lightbrown);
}

#insert-code-a {
    text-decoration: none;
    color: var(--beige);
}

#code-explination-text {
    width: 60%;
    margin: auto;
    font-size: 0.8em;
    color: var(--brown);
    text-align: left;
    margin-top: 5px;
}

/*************************/
/***     RATE PAGE     ***/
/*************************/

#rate-header {
    width: 100%;
    top: -75px;
}

#rate-title {
    position: relative;
    top: -30px;
    text-align: center;
    font-size: 1.5em;
    color: var(--brown);
}

#rate-container {
    width: 80%;
    margin: auto;
    display: flex;
}

#rate-form {
    padding-left: 25px;
    width: 100%;
}

#rate-form-title {
    color: var(--red);
    font-size: 1.5em;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: var(--lightred);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--brown);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--brown);
    cursor: pointer;
}

/**********************/
/***     FOOTER     ***/
/**********************/

#footer {
    position: relative;
    width: 100%;
    background-color: var(--red);
    padding-bottom: 40px;
    z-index: -1;
    margin-top: auto;
}

#footer-skew-top {
    height: 50px;
    background-image: linear-gradient(178deg, var(--white) 50%, var(--red) 50%);
}

#footer-content {
    color: var(--beige);
    text-align: center;
}

#footer-slogan {
    font-size: 2em;
    font-weight: 800;
}

#footer-socials {
    margin-top: 15px;
}

#footer-socials a {
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.3em;
}

.edit-socials-icon {
    color: var(--beige);
}

#footer-figure {
    top: -17px;
    left: 20%;
    height: 185px;
    position: absolute;
    width: 175px;
}

#footer-img {
    width: 175px;
    height: 185px;
    object-fit: cover;
    object-position: 0px 10px;
}