* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --red: #ff3333;
    --lightred: #ff9999;
    --brown: #833400;
    --lightbrown: #c19a80;
    --beige: #fffce5;
    --white: #ffffff;
}

/**********************/
/***     HEADER     ***/
/**********************/

#header {
    width: 100%;
}

#banner-background {
    background-image: linear-gradient(315deg, rgba(255, 255, 255, 0) 50%, var(--red) 50%);
    height: 200px;
    position: relative;
}

#header-cover-figure {
    position: absolute;
    width: 100vw;
    height: 200px;
    z-index: -1;
}

#header-cover-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    right: 0;
}

#banner-text {
    top: 50px;
    left: 275px;
    color: var(--beige);
    position: absolute;
}

#banner-text h1 {
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 4em;
    height: 70px;
}

#banner-text h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-left: 1em;
}

#header-logo-figure {
    width: 125px;
    position: absolute;
    top: 15px;
    left: 150px;
}

/********NAVIGATION*********/

#main-navigation-section {
    position: relative;
    display: flex;
    top: -30px;
    background-color: var(--white);
    max-width: 40vw;
    justify-content: center;
    margin: auto;
    height: 55px;
    align-items: center;
}

#main-navigation-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#main-navigation-section a {
    height: 35px;
    font-family: 'Fugaz One', cursive;
    font-weight: 100;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white);
    color: var(--brown);
    text-decoration: none;
    padding: 0px 0px;
    margin: 0px 60px;
    align-items: center;
    border-top: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
}

#main-navigation-section a:hover {
    color: var(--red);
    border-top: 4px solid var(--red);
    border-bottom: 4px solid var(--red);
}

#main-navigation-section a:active,
#main-navigation-section a:focus {
    color: var(--red);
    border-top: 4px solid var(--red);
    border-bottom: 4px solid var(--red);
}

/********************/
/***     MAIN     ***/
/********************/

main {
    width: 85%;
    margin: auto;
}

/***TOP SEARCH SECTION***/

#top-search-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
}

#search-location-form,
#order-by-form {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#order-by-form {
    width: 20%;
}

#search-location-input {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    padding-left: 20px;
    width: 75%;
    color: var(--red);
    height: 40px;
    border: 1px solid var(--red);
}

#search-location-input::placeholder {
    color: var(--lightred);
    font-weight: 200;
}

#submit-location-button {
    font-family: 'Lato', sans-serif;
    height: 40px;
    width: 20%;
    font-size: 1.25em;
    color: var(--beige);
    background-color: var(--red);
    border: none;
    font-weight: 800;
}

#order-by-label {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: var(--red);
    font-weight: 400;
    width: 25%;
}

#order-by-input {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    color: var(--beige);
    background-color: var(--red);
    font-weight: 800;
    padding: 5px 10px;
    height: 40px;
    width: 65%;
}

/***FILTER SECTION***/

#filter-type-form,
#filter-options-form {
    margin-top: 25px;
}

#filter-type-form-title,
#filter-options-form-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 15px;
}

.filter-option,
.options-option {
    color: var(--brown);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-left: 1%;
    align-items: center;
}

.filter-label-container {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--white);
    border: 1px solid var(--red);
}

.filter-label-container:hover input~.checkmark {
    background-color: var(--lightred);
}

.filter-label-container input:checked~.checkmark {
    background-color: var(--red);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-label-container input:checked~.checkmark:after {
    display: block;
}

.filter-label-container .checkmark:after {
    left: 4px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid var(--beige);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**********************/
/***     FOOTER     ***/
/**********************/